{% extends 'base.html.twig' %}

{% block center_content_title %}
  {{ 'title.list.allowed.polls'|trans }}
{% endblock %}

{% block center_content %}
  {% for election in userElections %}
    {% include 'poll/includes/election_excerpt.html.twig' %}
    <hr>
  {% endfor %}
  {% for poll in userPolls %}
    {% include 'poll/includes/poll_excerpt.html.twig' %}
    <hr>
  {% endfor %}
  {% if userElections is empty and userPolls is empty %}
    <p>
      {{ 'placeholder.election.list.empty'|trans }}
    </p>
  {% endif %}

  {% if otherElections is not empty %}<h1>{{ 'title.list.others.polls'|trans }}</h1>{% endif %}
  {% for election in otherElections %}
    <a href="{{ path('election_show', {'id': election.id}) }}">{{ election.name }}</a>
    {% if not loop.last %} - {% endif %}
  {% endfor %}
{% endblock %}
