{% extends 'base.html.twig' %}

{% block center_content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="alert alert-info" role="alert">
        {{ 'login.instructions'|trans }}
      </div>
      {% if error %}
        <div class="alert alert-error">{{ error.messageKey|trans(error.messageData) }}</div>
      {% endif %}
      <form action="{{ path('login_check') }}" method="post" class="form">
        <div class="form-group">
          <label for="username">{{ 'login.username'|trans }}</label>
          <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="form-group">
          <label for="password">{{ 'login.password'|trans }}</label>
          <input class="form-control" type="password" id="password" name="_password" />
        </div>
        <input type="hidden" name="_target_path" value="polls">
        <a href="{{ path('login_forgot_password') }}" class="pull-right">{{ 'forgotPassword'|trans }}</a>
        <button class="btn btn-primary" type="submit">{{ 'login.send_form'|trans }}</button>
      </form>
    </div>
  </div>
{% endblock %}
